.form{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input{
    width: 600px;
    padding: 10px;
    border-radius: 10px;
}
.add-button{
    width: 150px;
    padding: 10px;
    font-size: 16px;
    margin: 10px;
    border: 2px solid rgb(97, 97, 97);
    border-radius: 10px;
}
.add-button:hover{
    background-color: #ccc;
    cursor: pointer;
}